body{
    background-color:grey;
}
h1{
    text-align: center;
    color: white;
}
div{
    background-color: beige;
    height: 300px; 
    width: 700px;
    margin-left: 450px;
    margin-top: 50px;
    padding:50px;
    
}
.icon{
    font-size:40px ;
}
p{
    font-size:30px;
}
a{
    font-size:15px ;
    color: red;
}
hr{
    width: 100px;
    height: 2px;
    background-color: red;
}
