body{
    background-color: rgb(170, 213, 250);
}
div{
    background-color:aliceblue;
    width: 250px;
    height: 300px;
    text-align: center;
}
img{
    width: 80px;
    height: 80px;
}
button{
    background-color: rgb(68, 66, 66);
    color: white;
}
section{
    margin-left: 300px;
}
h1{
    text-align: center;
}